<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Regression</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="">Enter Coin Name: </label>
        <input type="text" name="Coin" id="" />
        <label for=""> Open: </label>
        <input type="number" name="Open" id="" />
        <label for=""> High: </label>
        <input type="number" name="High" id="" />
        <label for=""> Low: </label>
        <input type="number" name="Low" id="" />
        <label for=""> Volume: </label>
        <input type="number" name="Volume" id="" />
        <input type="submit" value="Submit" />
    </form>
    <p>
        The closing Price is: {{ prediction }}
    </p>
</body>
</html>